$color-red: #ff0000;

.form {
  .help-block {
    color: $color-red;
  }

  .react-datepicker-wrapper {
    width: 100% !important;
  }

  .row-btn {
    text-align: center;
  }

  .react-time-picker {
    width: 100%;
  }
}
